

{% extends "base.html" %}

{% block content %}

    <h2>Sale List</h2>
    
    
<form method="get" class="row g-3 mb-4">
{#    <div class="col-auto">#}
{#        <label for="start_date" class="form-label">Start Date</label>#}
{#        <input type="date" name="start_date" id="start_date" class="form-control" value="{{ start_date }}">#}
{#    </div>#}
{#    <div class="col-auto">#}
{#        <label for="end_date" class="form-label">End Date</label>#}
{#        <input type="date" name="end_date" id="end_date" class="form-control" value="{{ end_date }}">#}
{#    </div>#}
<form method="get" action="">
    <div class="row g-2 align-items-end">

        <div class="col-auto">
            <label for="month" class="form-label">Month</label>
            <input type="month" name="month" id="month" class="form-control" value="{{ month }}">
        </div>

        <div class="col-auto">
            <label for="product" class="form-label">Product</label>
            <select name="product" id="product" class="form-select">
                <option value="">All Products</option>
                {% for p in products %}
                <option value="{{ p.id }}" {% if product|default:'' == p.id|stringformat:"s" %}selected{% endif %}>{{ p.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>

    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for sale in sales %}
        <tr>
            <td>{{ sale.product.name }}</td>
            <td>{{ sale.quantity}}</td>
            <td>{{ sale.created_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
